[id*="hide-show-"]:not(:target){
  display: none;
}
[id*="hide-show-"]:target{
  display: block;
}
#nav-side{
  position: fixed;
  top: 0;
  height:100%;
  width: 80%;
  max-width: 400px;
}
#nav-side:not(:target){
  right: 100%;
  transition: right 1.5s;
}
#nav-side:target{
  right: 0;
  transition: right 1s;
}
[id*="modal-container-"]{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
[class*="modal-"]{
  width: 70%;
  background: #fff;
  padding: 20px;
  text-align: center;
}
[id*="modal-container-"]:not(:target){
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}
[id*="modal-container-"]:target{
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 1s;
}
